streamlit~=1.31.0
numpy~=1.26.3
pillow~=10.2.0
requests~=2.31.0
langchain~=0.1.5
opencv-python~=4.9.0.80
fastapi~=0.109.1
uvicorn[standard]~=0.27.0
imageio~=2.33.1
python-multipart
moviepy~=1.0.3
openai-whisper
torch~=2.2.0
transformers~=4.37.2
pydub~=0.25.1
httpx~=0.25.2
pydantic~=2.6.0
av~=11.0.0
starlette~=0.35.1